In [2]:
import pandas as pd
import sqlite3

In [5]:
# Connect to the SQLite database
conn = sqlite3.connect('/Users/armna254/Documents/GitHub/Fitness/client_data.db')

# Query the database and load data into a DataFrame
query = "SELECT * FROM clients"  # Adjust the query based on your table structure
df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

In [6]:
df

,name,age,sex,weight,height,waist,hip,activity_index,goal
0,Melina Jahanshahi,33,F,46.0,164.0,64.0,86.7,1.20,gain
1,Sara Mortazavi,35,F,51.5,160.0,64.0,95.0,1.40,lose
2,Armin Nabizadeh,33,M,92.0,179.0,92.5,103.7,1.40,lose
3,Shima Semsar,43,F,71.8,162.0,84.0,108.0,1.20,lose
4,Arman Anzanpour,43,M,80.0,166.0,98.0,101.0,1.25,lose
5,Nima Emami,33,M,85.0,172.0,91.0,104.0,1.30,lose